ul{
    height: 50px;
    background-color: palevioletred;
    border: solid rgb(29, 28, 28);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: beige;
    font-size: 40px;
    
}

li{
    list-style-type: none;

}

.outer{
    height: 400px;
    width: 400px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.inner{
    height: 100px;
    width: 100px;
    background-color: brown;
    
}

